@media only screen and (min-width: 62rem) {
    /* body {
        background-color: lightblue;
    } */

    .mobile-test,
    .tablet-test,
    .device-menu {
        display: none;
    }

    .burger-icon {
        display: none;
    }
}