@media only screen and (max-width: 479px) {
    .nav-links {
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;
    }

    .header-image-container {
        width: 300px;
        height: 62.77px;
    }

    .header-image-container img {
        width: 100%;
        height: 100%;
    }

    .container {
        width: 300px
    }

    .featured-image-container {
        width: 300px;
        height: 200px;
        overflow: hidden;
        /* display: grid; */
        /* justify-content: center;
        align-items: center; */
    }

    .featured-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .promo-area {
        display: grid;
        grid-template-columns: 1fr;
        /* padding: 1rem 0 0; */
        justify-content: center;
        align-items: center;
        
    }

    .promo-image-container {
        width: 300px;
        height: 176px;
        overflow: hidden;
        /* Hide any content that overflows the container */
    }

    .promo-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Fit the image inside the container while preserving aspect ratio */
    }

    .article-area {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem 0 0;
    }
    
    .article-image-container {
        width: 300px;
        height: 230.77px;
        overflow: hidden;
        /* Hide any content that overflows the container */
    }

    .article-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Fit the image inside the container while preserving aspect ratio */
    }

    .post-entry {
        width:300px;
    }

    .tablet-test,
    .tablet-large-test,
    .desktop-test,
    .desktop-menu {
            display: none;
    }
}