/* Type: Media Queries for Small Screens */
@media only screen and (max-width: 479px) {

    /* Object: Container */
    .container {
        width: 300px;
        margin: auto;
    }

    /* Object: Logo */
    .logo-container {
        width: 300px;
    }

    .logo-container img {
        width: 100%;
        height: 100%;
    }

    /* Object: Featured Image */
    .featured-image-container {
        width: 300px;
        height: 200px;
        overflow: hidden;
    }

    .featured-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Object: Promoted Film */
    .promo-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .promo-image-container {
        width: 300px;
        height: 176px;
        overflow: hidden;
        padding-bottom: 1rem;
    }

    .promo-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Object: Article */
    .article-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .article-image-container {
        width: 300px;
        height: 230.77px;
        overflow: hidden;
    }

    .article-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Object: Post Entry */
    .post-entry {
        width: 300px;
    }

    /* Utility: Hide Elements */
    .tablet-test,
    .tablet-large-test,
    .laptop-test,
    .desktop-test,
    .desktop-menu {
        display: none;
    }
}