/* Base styles for all screen sizes */

body {
    margin: 0;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.2rem;
}

.container {
    width: 1080px;
    /* margin: 0 auto; */
    /* align-items: center;
    justify-content: center; */
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.device-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.desktop-menu {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    gap: 1rem;
    align-items: center;
}

.logo-container {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 1.5rem;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.2rem;
}

.featured-area {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 1.55rem;
    padding-bottom: 1.87rem;
}

.promo-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 1.87rem;
}

.article-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
}

form {
    align-items: center;
}

/* footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.74rem;
} */

.bleeding-skull-copyright {
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.74rem;
    }

.post-header {
    padding-top: 1rem;
    letter-spacing: 2px;
}

.post-entry {
        font-family: "Arimo";
        font-style: normal;
        font-weight: 400;
        line-height: 1.4rem;
        font-size: 0.9rem;
}

.older {
    display: flex;
    justify-content: flex-end;
    /* padding: 4rem 0 3rem 0; */
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.email-bar {
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    background-color: red;
    height: 3.2rem;
}

.email-list {
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    padding: 1rem;
} 

.uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.bg-puke-green {
    background-color: #affe53;
}

.bg-black
{
    background-color: black;
}
.bg-red
{
    background-color: red;
}

.text-pink{
    color: #f64eba;
    font-size: 0.9rem;
    font-weight: 300;
}

.center-text {
    display: block;
    text-align: center;
}

.article-line {
    border-top: 2px solid;
    display:block;
    max-width:48px;
    margin: 0 auto 15px;
    color: black;
}

article {
    padding-bottom: 1rem;
}