/* Base styles for all screen sizes */

.pad-top-bottom {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body {
    margin: 0;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem;

}

form {
    align-items: center;
}

footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.74rem;
}


.responsive {
    max-width: 100%;
    height: auto;
}

.promo-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.article-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}


.container {
    /* max-width: 80rem; */
    margin: auto;
    width: 100%;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.2rem;
    
}

.nav-list {
    display: flex;
    justify-content: space-between;
    /* padding: 0 1rem; */
    gap: 1rem;
    align-items: center;
}

.older {
    display: flex;
    justify-content: flex-end;
    padding: 3rem;
}

.email-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 1rem;
} 

.uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.bg-puke-green {
    background-color: #affe53;
}

.text-pink{
    color: #f64eba;
}