@media only screen and (min-width: 480px) and (max-width: 768px) {    
    .logo-container {
        width: 480px;
    }

    .logo-container img {
        width: 100%;
        height: 100%;
    }

    .container {
        width: 480px;
        margin: auto;
    }

    .featured-image-container {
        width: 480px;
        height: 300px;
        overflow: hidden;
    }

    .featured-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .promo-area {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 2rem;

    }

    .promo-image-container {
        width: 480px;
        height: 200px;
        overflow: hidden;
    }

    .promo-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .article-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .article-image-container {
        width: 225px;
        overflow: hidden;
        /* Hide any content that overflows the container */
    }

    .article-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Fit the image inside the container while preserving aspect ratio */
    }

    .post-header {
        width: 225px;
    }
    
    .post-entry {
        width: 225px;
    }

    .mobile-test,
    .tablet-large-test,
    .laptop-test,
    .desktop-test,
    .desktop-menu {
        display: none;
    }
}