@media only screen and (min-width: 480px) and (max-width: 768px) {
    /* body {
        background-color: lightcoral;
    } */

    .mobile-test,
    .desktop-test,
    .desktop-menu {
        display: none;
    }

    .burger-icon {
        display: none;
    }
}