@media only screen and (min-width: 480px) and (max-width: 768px) {

    .nav-links {
            display: flex;
            gap: 1rem;
            font-size: 1.5rem;
        }
    
    .header-area {
        display: grid;
        grid-template-columns: 1fr;
        padding: 4.8rem 0 0;
    }

    .header-image-container {
        width: 480px;
        height: 100.44px;
    }

    .header-image-container img {
        width: 100%;
        height: 100%;
    }

    .featured-area {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .featured-image-container {
        width: 480px;
        height: 300px;
        overflow: hidden;
    }

    .featured-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .promo-area {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;

    }

    .promo-image-container {
        width: 480px;
        height: 200px;
        overflow: hidden;
    }

    .promo-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .article-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }

    .article-image-container {
        width: 225px;
        height: 173.06px;
        overflow: hidden;
        /* Hide any content that overflows the container */
    }

    .article-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Fit the image inside the container while preserving aspect ratio */
    }

    .post-header {
        width: 225px;
    }
    
    .post-entry {
        width: 225px;
    }

    .center-text {
        display: block;
        text-align: center;
    }

    .mobile-test,
    .tablet-large-test,
    .desktop-test,
    .desktop-menu {
        display: none;
    }

    .burger-icon {
        display: none;
    }
}

