.nav-list {
    display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
}


.featured-image {
    display: inline-block;
    background-image: url('images/SagaOfThePhoenix1.jpg');
    /* content: "";
    display: block;
    width: 6.25rem;
    height: 6.25rem;
    background-color: darkgreen; */
}

.promo-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.promo-image {
    content: "";
    display: block;
    width: 6.25rem;
    height: 6.25rem;
    background-color: mediumseagreen;
}
.article-image {
    content: "";
    display: block;
    width: 6.25rem;
    height: 6.25rem;
    background-color: lightseagreen;
}

.responsive {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}


